<%= simple_form_for(@searchable) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :keyword %>
    <%= f.input :location %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
