<div class="wrapper_search_box wrapperTextChange">


<%= search_form_for (@q) do |f| %>

  # Search if an associated articles.title starts with...
  <%= f.label :title_con %>
  <%= f.search_field :title_cont %>

  <%= f.submit %>
<% end %>

<% @results.each do |res| %>
  <%= res.title %>
<% end %>

  <div class="container">

    <div class="row">

      <div class="col full_width">
        <label class="labelSearchTags"> What</label> <br>
        <input type="search" ng-model="searchTitle.title" class="customSearchInput">
        <label class="grayLabelSmal">
          Job title, keywords or company name
        </label>
      </div>

      <div class="col full_width">
        <label class="labelSearchTags"> Where</label> <br>
        <input type="search" ng-model="searchArea.description" class="customSearchInput">
        <label class="grayLabelSmal"> City </label>
      </div>

    </div>

  </div>

</div>

<br>

<div class="jobsList" ng-controller="jobsController">

  <div class="container" >

    <div class="row">

      <div class="col">

        
        <% @results.each do |job| %>
          <div class="jobItems animated fadeInUp"  >

            <div class="search_result">
              <h5 class="title">
                <a href="<%= job_path(job) %>">
                  <strong>
                    <%= job.title %>
                  </strong>
                </a>
              </h5>
              <div class="JobInfo">
                <a href="#">Company Name</a> | <span>Location SW15 </span> | <a href="#">
                  <%#= job.bid_size %> bids</a>  | <%#= job.hourly_rate %> | currency:'£'  phr
              </div>

              <p class="jobDescription">
                <%= truncate(job.summary, length: 200) %>
              </p>


              <div class="text_centered">
                <strong>Bidders </strong>
              </div>

              <ul class="biders">
                <%= job.bids.each do |bid|%>
                  <li  class="result_avatar">
                    <img ng-src="<%= bid.user_avatar %>" alt="">

                  </li>
                <% end %>
                <li class="result_avatar resultTextSpacing purple_bg">
                  <%= job.bids.count %>
                </li>

              </ul>

              <div class="text_centered">
                <strong>Posted | </strong> <%= time_ago_in_words(job.created_at) %>
              </div>


            </div>

          </div>

          <% end %>

      </div>



      <div class="col-5">

        <form action="">
          <form action="">
            <input type="checkbox" name="gender" ng-model="searchArea.negotiable_price" value="" > negotiable price <br>
            <input type="checkbox" name="gender" ng-model="searchArea.fixed_price"> fixed price <br>
          </form>

        </form>

      </div>

    </div>

  </div>
</div>
