<div class="container theJob" >
  <div class="row">

    <%= render 'jobs/sidebar' %>

    <div class="col">

      <h1><%= @job.title %></h1>
      <%= render 'jobs/biderslist' %>
      <div class="jobsDescription">
        <%= @job.description.html_safe %>
      </div>
      <%= render 'jobs/bids' %>
    </div>

  </div>

</div>
