<div class="navbar custom_navbar">
  <div class="container">

    <div class="row">

      <div class="col">
        <div class="branding">
          <a href="<%= root_path%>">Sebki</a>
        </div>

        <ul class="nav_links">
          <li><%= link_to "Jobs", jobs_path %></li>
          <li><%= link_to "Contractors", contractors_path %></li>
        </ul>
      </div>

      <div class="col">

        <ul class="nav_links text-right">
          <% if user_signed_in? %>
          <li>
            Hello
          </li>
          <% else %>
            <li>
              <%#= link_to'Sign In', sign_in_path  %>
              <a  data-toggle="modal" data-target="#exampleModal"> Sign in</a>
            </li>
            <li><a href="<%= new_user_registration_path %>"> Sign Up</a></li>
          <% end %>

          <% if user_signed_in? %>


          <label class="dropdown">
            <button class="profile_avatar btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="">
              <!-- Dropdown button -->
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              
              <a class="dropdown-item" href="<%= profile_path%>">
                Contractor Profile
              </a>

              <a class="dropdown-item" href="#">
            Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <hr>

              <li class="dropdown-item">
                <%= link_to'Sign Out', destroy_user_session_path, {:method => :delete}  %>
              </li>
              

            </div>
          </label>

          <% end %>
          <a href="<%= new_job_path %>">
            <button  class="btn-purple-nav">
              Post a Job
            </button>

          </a>

        </ul>

      </div>

    </div>

  </div>
</div>





<!--
<nav class="nav_bar customNavbar">

  <div class="container">

    <div class="row">

      <div class="col navbar-text">
        <a href="<%= root_path %>">
          <h2 class="navbarbrand">
            Any Guard
          </h2>
        </a>

      </div>


      <div class="col navbar-text right-text">

        <%= link_to "Jobs", jobs_path %> |
        <%= link_to "Contractors", contractors_path %> |
        <%= link_to "Post A Job", new_job_path %> |


        <% if user_signed_in? %>
          <%= link_to'Logout', destroy_user_session_path, {:method => :delete} %>
        <% else %>
          <button class="btn btn-outline-success" type="button">Main button</button>
          <%= link_to'Login', sign_in_path  %>
        <% end %>


      </div>

    </div>



    <%#= form_tag jobs_path, method: 'get' do  %>
      <%#= text_field_tag :search, params[:search] %>
    <%# end %>
  </div>

</nav> -->
