<!DOCTYPE html>
<html>
  <head>
    <title>AnyguardWEB</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Rubik|Titillium+Web" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

  </head>

  <body ng-app="myApp">


    <%= render 'home/navbar' %>
    <div class="page">
      <%= yield %>
    </div>




    <script>
      $('.alert').alert()
    </script>
    
    <% if notice %>
      <div class="alert alert-success alert-dismissible fade show float-left-bottom" role="alert">
        <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <% end %>

    <%= render 'home/signin' %>
    <%= render 'home/footer' %>

    <h1> <%= @test %> </h1>



  </body>
</html>
